/node_modules
/bower_components
/.idea
bundle.js
npm-debug.log
public/js
public/css
public/sym/b100
public/sym/b200
public/sym/svg
public/cities5000.zip
public/cities5000
public/sym.zip
src/scripts/cities5000.txt
src/scripts/testing.js
src/database/cities5000.json