@import '../../node_modules/bootstrap/less/bootstrap';
@import './search';

td {
  text-align: center;
  vertical-align: middle;
    
}
.tdCityName {
  vertical-align: middle;
  font-weight: bold;
    
}
th {
  text-align: center;
    
}